HSCD/Aufgabe1/FDSx2.vhd
HSCD/Aufgabe1/Synthese/
HSCD/Aufgabe1/asm/CONSTANT.TXT
HSCD/Aufgabe1/asm/KCPSM3.EXE
HSCD/Aufgabe1/asm/LABELS.TXT
HSCD/Aufgabe1/asm/PASS1.DAT
HSCD/Aufgabe1/asm/PASS2.DAT
HSCD/Aufgabe1/asm/PASS3.DAT
HSCD/Aufgabe1/asm/PASS4.DAT
HSCD/Aufgabe1/asm/PASS5.DAT
HSCD/Aufgabe1/asm/PROGRAM.COE
HSCD/Aufgabe1/asm/PROGRAM.DEC
HSCD/Aufgabe1/asm/PROGRAM.FMT
HSCD/Aufgabe1/asm/PROGRAM.HEX
HSCD/Aufgabe1/asm/PROGRAM.LOG
HSCD/Aufgabe1/asm/PROGRAM.M
HSCD/Aufgabe1/asm/PROGRAM.MEM
HSCD/Aufgabe1/asm/PROGRAM.V
HSCD/Aufgabe1/asm/PROGRAM.VHD
HSCD/Aufgabe1/asm/PROGRAMM.COE
HSCD/Aufgabe1/asm/PROGRAMM.DEC
HSCD/Aufgabe1/asm/PROGRAMM.FMT
HSCD/Aufgabe1/asm/PROGRAMM.HEX
HSCD/Aufgabe1/asm/PROGRAMM.LOG
HSCD/Aufgabe1/asm/PROGRAMM.M
HSCD/Aufgabe1/asm/PROGRAMM.MEM
HSCD/Aufgabe1/asm/PROGRAMM.V
HSCD/Aufgabe1/asm/PROGRAMM.VHD
HSCD/Aufgabe1/asm/ROM_form.coe
HSCD/Aufgabe1/asm/ROM_form.v
HSCD/Aufgabe1/asm/ROM_form.vhd
HSCD/Aufgabe1/asm/programm - jan alt.psm
HSCD/Aufgabe1/asm/programm - mini.psm
HSCD/Aufgabe1/asm/programm_timo.psm
HSCD/Aufgabe1/kcpsm3.vhd
HSCD/Aufgabe1/timer.vhd
HSCD/Aufgabe2/Aufgabe2.pdf
HSCD/Aufgabe2/FDSx2.vhd
HSCD/Aufgabe2/Synthese/
HSCD/Aufgabe2/asm/CONSTANT.TXT
HSCD/Aufgabe2/asm/KCPSM3.EXE
HSCD/Aufgabe2/asm/LABELS.TXT
HSCD/Aufgabe2/asm/PASS1.DAT
HSCD/Aufgabe2/asm/PASS2.DAT
HSCD/Aufgabe2/asm/PASS3.DAT
HSCD/Aufgabe2/asm/PASS4.DAT
HSCD/Aufgabe2/asm/PASS5.DAT
HSCD/Aufgabe2/asm/PROGRAMM.COE
HSCD/Aufgabe2/asm/PROGRAMM.DEC
HSCD/Aufgabe2/asm/PROGRAMM.FMT
HSCD/Aufgabe2/asm/PROGRAMM.HEX
HSCD/Aufgabe2/asm/PROGRAMM.LOG
HSCD/Aufgabe2/asm/PROGRAMM.M
HSCD/Aufgabe2/asm/PROGRAMM.MEM
HSCD/Aufgabe2/asm/PROGRAMM.V
HSCD/Aufgabe2/asm/PROGRAMM.VHD
HSCD/Aufgabe2/asm/ROM_form.coe
HSCD/Aufgabe2/asm/ROM_form.v
HSCD/Aufgabe2/asm/ROM_form.vhd
HSCD/Aufgabe2/daten2.txt
HSCD/Aufgabe2/kcpsm3.vhd
HSCD/Aufgabe2/system.bit
HSCD/Aufgabe2/system.ucf
HSCD/Aufgabe2/system.vhd
HSCD/Aufgabe2/testbench/
HSCD/Aufgabe2/timer.vhd